# ----------------
# Composer
# ----------------

/vendor/

# ----------------
# Tests
# ----------------

.phpunit.coverage.*
.phpunit.result.cache
/tests/output/*
!/tests/output/.gitkeep
/tests/session/*
!/tests/session/index.html
